body {
    margin:0;
    font-family:'Roboto', sans-serif;
}

.maintext{
    font-size:48px;
    color:#F9FAF8;
    font-weight: 800;
}

.top-content {
    display : flex;
    margin-bottom : 50px;
}

.left {
    display : flex;
    flex-direction: column;
    gap : 13px;
}


img {
    width: 250px;
    height: auto;
}

.header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom : 50px;
    
}

button {
    background : #3882F6;
    font-weight: bold;
}


.one {
    background: #1f2937;
    padding : 3px 100px; 
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a, .secondtext {
    font-size: 18px;
    text-decoration: none;
    color:#E5E7EB
}

.logo {
    font-weight : 800;
    font-size: 24px;
    color:#F9FAF8;
}


